{% extends 'base.html' %}
{% block content %}
{% load static %}

{% block title %}
    Travel Destinations.
{% endblock %}

<!-- Hero Section -->
<section class="hero">
    <div class="hero-image">
      <img src="{% static 'images/hero-image.jpg' %}" alt="Nature Image">
    </div>
    <div class="hero-text">
      <h1>Explore Nature</h1>
      <p>Find eco-friendly accommodations, tours, and activities that let you discover the beauty of nature without harming it.</p>
      <a href="explore/" target='/explore/' class="cta-btn">Explore</a>
    </div>
  </section>

<!-- Featured Destinations -->
  <div class="container">
        <section class="featured">
            <h2>Featured Destinations</h2>
            <div class="cards">
            {% for destination in destinations %}
            <div class="card">
                <img src="{{ destination.image.url }}" alt="{{ destination.name }}">
                <div class="card-text">
                <h3>{{ destination.name }}</h3>
                <p>{{ destination.description }}</p>
                <a href="#" class="cta-btn">Explore</a>
                </div>
            </div>
            {% endfor %}
            </div>
        </section>
  </div>

{% endblock %}